body {
	background-color: red;
	font-family:sans-serif;
}
* {
	margin: 0;
}
.stack {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	padding: 0.5em;
}
.stack > * {
	margin: 0.25em;
}
.loginpane {
	
}
.messagepane {
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 30vh;
	scroll-behavior: smooth;
	overflow-y: scroll;
	background-color: #EEEEEE;
}
.roompane {
	
}
.input {
	display: flex;
	flex-direction: row;
	height: 3.5rem;
}
.input textarea {
	resize: none;
	/*max-height: 100%;*/
	flex-grow: 1;
	margin: 0;
	display: inline-block;
}
.input button {
	height: 100%;
	display: inline-block;
}
.messagepane > div {
	padding-bottom: 0.5rem;
	padding-top: 100%;
}
.messagepane > div > div {
	white-space: pre-wrap;
	word-break: break-all;
	padding-left: 1rem;
	padding-bottom: 0.25rem;
	font-size: 1em;
}
.userlistpane {
	
}
.sender {
	font-weight: bold;
}
.sender::after {
	content: ": ";
}
.systemMessage {
	color: #222233;
	background-color: #DDEEDD;
}
[id="$currentroom"] {
	margin-left: 1em;
}
[id="$myself"] {
	font-weight: bold;
	margin-right: 0.5em;
}
.errorMessage {
	color: #800000;
	background-color: #FFFFD0;
	font-weight: bold;
}
